<div class="position-relative">
  <div class="position-absolute top-0 start-0">
    <a href="/items" type="button" class="btn btn-primary m-5">BACK</a>
  </div>
</div>

<div class="d-flex flex-column justify-content-md-center align-items-center vh-100">
  <div class="w-25">
    <h4>Edit Item</h4>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" name="name" value="<%= @item.name %>" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" id="price" name="price" value="<%= @item.price %>" class="form-control" required>
    </div>
    <button type="button" class="btn btn-primary" style="width: 100%;" onclick="submit(<%= @item.id %>)">EDIT</button>
  </div>
</div>

<script>
    const submit = async id => {
        const data = {
            name: document.getElementById("name").value,
            price: document.getElementById("price").value
        };

        const result = await axios.put("/items/" + id, data, config);
        console.log(result);
    };
</script>
