<div class="">

</div>

<%= render "form", post: @post %>

<br>

<div>
<%= link_to "Back to posts", posts_path %>
</div>

<!--<div class="position-relative">-->
<!--  <div class="position-absolute top-0 start-0">-->
<!--    <a href="/items" type="button" class="btn btn-primary m-5">List of Data</a>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="d-flex justify-content-center align-items-center vh-100">-->
<!--  <form action="/posts" method="POST">-->
<!--    <div class="mb-3">-->
<!--      <label for="name" class="form-label">Name</label>-->
<!--      <input type="text" name="name" class="form-control" required>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="title" class="form-label">Title</label>-->
<!--      <input type="text" name="title" class="form-control" required>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="content" class="form-label">Content</label>-->
<!--      <input type="text" name="content" class="form-control" required>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>-->
<!--  </form>-->
<!--</div>-->